/* CSS */
:root {
    --main-color-green: #4e7141;
    --main-color-beige: #f9e9c2;
    --main-color-orange: #ff8d06;
    --main-color-brown: #491b02;
    --card-color-orange: #ff9a41;
    --card-color-green: #3c593e;
    --text-color-white: #fff;
    --text-color-black: #000;
    --invalid-color-red: #ff0000;
    --header-font: 'Poppins-Black', sans-serif;
    --sub-header-font: 'Poppins-Bold', sans-serif;
    --paragraph-font: 'Poppins-Medium', sans-serif;
    --link-font: 'Poppins-Regular', sans-serif;
    --border-bigCard: 2em;
    --border-card: 1.0625em;
    --image-gradient: linear-gradient(180deg, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0) 100%);
}

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

